go 1.21.3

use (
	./email-checker-tool
	./go-bookstore
	./go-movies-crud
	./lambda-yt-example
	./simple-http-server-go
	./slack-age-bot
	./slack-file-bot
	./go-fiber-crm-basic
	./go-fiber-mongo-hrms
	./go-serverless-yt
	./youtube-demo-nlp
)
